/* @import url('https://fonts.googleapis.com/css2?family=Angkor&family=Inter&display=swap'); */

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.containerThemeColorOne {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    background-color: #deddc1;
}

.sectionTwoThemeColorOne {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.newArrivalWrapper {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    background-color: #a91806;
    border-radius: 15px;
    max-height: 500px;
}


.hourlyHeaderText {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.75rem;
}

.hoursWrapper {
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;

}

.hoursWrapper p {
    text-align: left;
    font-weight: bold;
}

.hoursTime {
    color: #a91806;

    font-weight: normal !important;
}

.hoursDayTime {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menuBlockWrapper {
    display: flex;
}

.menuContent {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.menuContent>img {
    width: 100%;
    margin-bottom: 0;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.chillBlock {
    background-color: #b9d9eb;
}

.grillBlock {
    background-color: #f03d3dcf;
}

.menuLink {
    text-align: center;
    color: black;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    font-size: 3rem;
}

.sprinkles {
    animation: twinkle 5s infinite alternate ease-in-out;
    width: 110vw !important;
    height: auto;
    overflow: hidden;
}

.bannerImage {
    width: 100%;
}

.menuHeader {
    margin-top: 150px;
    text-align: center;
}

.menuImage {
    width: 100%;
}

.drawerPhoneIcon {
    margin-right: 5px;
    width: 25px;
    fill: #deddc1;
}

.productSectionWrapper {
    display: flex;
    justify-content: center;
}

.productCardWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 25px;
    background-color: #deddc1;

}

.marginBottomSmall {
    margin-bottom: 80px;
}

.drawerItemLogin {
    display: flex;
    background-color: #e91e1e;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
}

.navCallButton {
    display: flex;
    background-color: #f03d3dcf;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    border-radius: 35px;
    height: 50px;
    margin: auto 20px;
}

.navCallButtonMobile {
    display: flex;
    background-color: #f03d3dcf;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    border-radius: 35px;
    height: 50px;
    margin: auto 20px;
}

.navCallButton>span {
    margin: auto;
}

.aboutTitleHeader {
    text-align: center;
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0;
}

.aboutWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.valuesWrapper {
    display: flex;
    flex-direction: column;
    background-color: #deddc1;
    border-radius: 15px;
    padding: 20px;
    color: black;
}

.scrollToLocation {
    height: 100px;
    background-color: white;
}

.sectionWrapper {
    display: flex;
    justify-content: center;
    border: 5px solid black;
    height: 500px;
}

.aboutSectionWrapper {
    display: flex;
    flex-direction: column;
}

.mapWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.drawerItemLogin {}

.reviewButton {
    background-color: #333333;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
}

.reviewHeader {
    font-size: 1.2rem;
    text-transform: none;
    color: white;
    margin: 0;
}

.footerRoot {
    display: flex;
    background-color: #a91806;
    color: white;
}

.rocsitesText {
    font-size: 0.7rem;
    margin-bottom: 15px;
    color: white;
    text-align: center;
}

.rocsitesText a {
    color: white;
}

.socialFooter {
    height: 40px;
    width: 40px;
    margin: 0 10px;
}

.marginAuto {
    margin: 10px auto;
}

.socialLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialLinkWrapper {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 20px 0;
}

.socialLinkWrapperNav {
    display: flex;
    justify-content: center;
    margin: auto 20px;
}

.socialLinkWrapperNavMobile {
    display: flex;
    margin: 15px;
}

.socialDrawer {
    height: 30px;
    width: 30px;
    margin: 0 5px;
}

.socialDrawerFb {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    margin-bottom: 1px;
}

.socialNav {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

.socialNavFb {
    height: 30px;
    width: 30px;
    margin: 0 10px;
    margin-bottom: 1px;
}

.connectHeader {
    font-size: 2rem;
    text-align: center;
    color: black;
    text-transform: uppercase;
}

.addressText {
    text-align: center;
    margin: 40px 0;
    background-color: #a91806;
    color: white;
    border-radius: 15px;
    padding: 20px;
}

@keyframes twinkle {
    from {
        transform: translateX(1vw);
    }

    to {
        transform: translateX(-1vw);
    }
}

@media(max-width:600px) {
    .menuLink {
        font-size: 1.25rem;
    }

    .socialLink {}

    .aboutSectionWrapper iframe {
        width: 90%;
        margin: auto;
    }

    .socialLinkWrapperNav {
        display: none;
    }

    .navCallButton,
    .navCallButtonMobile {
        font-size: 0.75rem;
    }

    .newArrivalWrapper {
        flex-direction: column;
        width: 100%;
    }
}