/* @import url('https://fonts.googleapis.com/css2?family=Angkor&family=Inter&display=swap'); */

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.containerThemeColorOne {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    background-color: #deddc1;
}

.sectionTwoThemeColorOne {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.ballPageWrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-top: 112px;
}



.newArrivalRoot {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.newArrivalWrapper {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem;
    background-color: #d3d3d36e;
    border-radius: 15px;
}

.featuredBallTitle {
    text-align: center;
    background-color: #a91806;
    border-radius: 30px;
    padding: 10px;
    color: white;
    margin-top: 50px;
}

.featuredBallWrapper {
    display: flex;
    margin: 1rem 0 0 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.ballWrapper {
    display: flex;
    flex: 0 0 33.33%;
    flex-direction: column;
    max-width: 350px;
    justify-content: flex-start;
    align-items: center;
    background-color: #d3d3d36e;
    border-radius: 15px;
    margin: 10px;
}

.shoeWrapper {
    display: flex;
    flex: 0 0 33.33%;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}


.hourlyHeaderText {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.75rem;
}

.hoursWrapper {
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;

}

.hoursWrapper p {
    text-align: left;
    font-weight: bold;
}

.hoursTime {
    color: #a91806;

    font-weight: normal !important;
}

.hoursDayTime {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menuBlockWrapper {
    display: flex;
}

.menuContent {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.menuContent>img {
    width: 100%;
    margin-bottom: 0;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.chillBlock {
    background-color: #b9d9eb;
}

.grillBlock {
    background-color: #f03d3dcf;
}

.menuLink {
    text-align: center;
    color: black;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    font-size: 3rem;
}

.sprinkles {
    animation: twinkle 5s infinite alternate ease-in-out;
    width: 110vw !important;
    height: auto;
    overflow: hidden;
}

.bannerImage {
    width: 100%;
}

.menuHeader {
    margin-top: 150px;
    text-align: center;
}

.menuImage {
    width: 100%;
}

.drawerPhoneIcon {
    margin-right: 5px;
    width: 25px;
    fill: #deddc1;
}

.productSectionWrapper {
    display: flex;
    justify-content: center;
}

.productCardWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 25px;
    background-color: #deddc1;

}

.marginBottomSmall {
    margin-bottom: 80px;
}

.drawerItemLogin {
    display: flex;
    background-color: #e91e1e;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
}

.navCallButton {
    display: flex;
    background-color: #f03d3dcf;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    border-radius: 35px;
    height: 50px;
    margin: auto 20px;
}

.navCallButtonMobile {
    display: flex;
    background-color: #f03d3dcf;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    border-radius: 35px;
    height: 50px;
    margin: auto 20px;
}

.navCallButton>span {
    margin: auto;
}

.menus {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.menu-items {
    position: relative;
    font-size: 16px;
}

.menu-items a {
    display: block;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    color: black
}

.menu-items a:hover,
.menu-items button:hover {
    background-color: lightgray;
}

.productButtonWrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
}

.productButtonWrapperMobile {
    display: flex;
    flex-direction: column;
    margin: 0 8px;
    margin-top: 30px;
}

.productButtonWrapperMobile button {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

.productButtonWrapper button {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

.dropdown {
    position: absolute;
    right: auto;
    left: 189px;
    top: 75px;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
        0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 0.875rem;
    z-index: 9999;
    min-width: 10rem;
    padding: 0.5rem;
    list-style: none;
    background-color: white;
    border-radius: 0.5rem;
    display: none;
}

.dropdown-mobile {
    position: absolute;
    right: auto;
    left: 189px;
    top: 75px;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
        0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 0.875rem;
    z-index: 9999;
    min-width: 10rem;
    padding: 0.5rem;
    list-style: none;
    background-color: white;
    border-radius: 0.5rem;
    display: none;
}

.dropdown-mobile.show {
    display: block;
}

.dropdown.show {
    display: block;
}

.dropdown .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: -7px;
}

.aboutTitleHeader {
    text-align: center;
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0;
}

.aboutWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.valuesWrapper {
    display: flex;
    flex-direction: column;
    background-color: #deddc1;
    border-radius: 15px;
    padding: 20px;
    color: black;
}

.scrollToLocation {
    height: 100px;
    background-color: white;
}

.sectionWrapper {
    display: flex;
    justify-content: center;
    border: 5px solid black;
    height: 500px;
}

.aboutSectionWrapper {
    display: flex;
    flex-direction: column;
}

.mapWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.drawerItemLogin {}

.reviewButton {
    background-color: #333333;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
}

.reviewHeader {
    font-size: 1.2rem;
    text-transform: none;
    color: white;
    margin: 0;
}

.footerRoot {
    display: flex;
    background-color: #a91806;
    color: white;
}

.rocsitesText {
    font-size: 0.7rem;
    margin-bottom: 15px;
    color: white;
    text-align: center;
}

.rocsitesText a {
    color: white;
}

.socialFooter {
    height: 40px;
    width: 40px;
    margin: 0 10px;
}

.marginAuto {
    margin: 10px auto;
}

.socialLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialLinkWrapper {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 20px 0;
}

.socialLinkWrapperNav {
    display: flex;
    justify-content: center;
    margin: auto 20px;
}

.socialLinkWrapperNavMobile {
    display: flex;
    margin: 15px;
}

.socialDrawer {
    height: 30px;
    width: 30px;
    margin: 0 5px;
}

.socialDrawerFb {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    margin-bottom: 1px;
}

.socialNav {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

.socialNavFb {
    height: 30px;
    width: 30px;
    margin: 0 10px;
    margin-bottom: 1px;
}

.connectHeader {
    font-size: 2rem;
    text-align: center;
    color: black;
    text-transform: uppercase;
}

.addressText {
    text-align: center;
    margin: 40px 0;
    background-color: #a91806;
    color: white;
    border-radius: 15px;
    padding: 20px;
}

.awardsCardWrapper {
    display: flex;
    padding: 25px;
}

.awardsCardWrapper ul li {
    width: 150px;
}

.awardsCardWrapperSecond {
    display: flex;
    padding: 25px;
}

.awardsCardWrapperSecond ul li {
    width: 150px;
}

@keyframes twinkle {
    from {
        transform: translateX(1vw);
    }

    to {
        transform: translateX(-1vw);
    }
}

@media(max-width: 1200px) {
    .ballWrapper {
        flex: 0 0 50%;
    }

    .shoeWrapper {
        flex: 0 0 50%;
    }
}


@media(max-width:600px) {
    .menuLink {
        font-size: 1.25rem;
    }

    .socialLink {}

    .mapWrapper iframe {
        width: 90%;
        margin: auto;
    }

    .socialLinkWrapperNav {
        display: none;
    }

    .navCallButton,
    .navCallButtonMobile {
        font-size: 0.75rem;
    }

    .newArrivalWrapper {
        flex-direction: column;
        width: auto;
    }

    .newArrivalRoot {
        flex-direction: column;
        align-items: center;
    }

    .ballWrapper {
        flex: 100%;
        max-width: 400px;
    }

    .shoeWrapper {
        flex: 100%;
        max-width: 400px;
    }

    .awardsCardWrapper {
        flex-direction: column;
        align-items: center;
    }

    .awardsCardWrapperSecond {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
}